body {
    background-color: #CFE1B9;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
    align-items: center;
    margin: auto;
    font-family: Helvetica;
    text-align: center;
}

main div {
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

main div h2 {
    border-bottom: 1px solid black;
}

.status {
    font-weight: 600;
}