/* --- Färg Variabler --- */
:root {
    /* colors */
    /* --colorA: #050505;
    --colorB: #121212;
    --colorC: #353535;
    --colorD: #666666;
    --colorE: #7f7f7f;
    --colorF: #999999;
    --colorG: #e5e5e5;
    --colorH: #f4f4f4;
    --colorI: #087fe7; */
    /* box shadow */
    /* --boxShadowA: rgba(0, 0, 0, 0.1);
    --boxShadowB: rgba(0, 0, 0, 0.2); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", system-ui;
    border: 0;
    color: white;
}
body{
    background-color: #f9fdf4;
    max-height: 100vh;
    /* overflow: hidden; */
}
main {
    margin: 65px 150px;
}
/* -- Universal Classes -- */
.flexContainer {
    display: flex;
}
.flexItem {
    flex: 1 1 0;
}
.flexSpaceBetween {
    justify-content: space-between;
}
.flexJustifyCenter {
    justify-content: center;
}
.flexDirectionColumn {
    flex-direction: column;
}
.flexAlignCenter {
    align-items: center;
}
.textAlignCenter {
    text-align: center;
}

/* -- Nav -- */
nav {
    max-height: 120px;
    padding: 15px 150px;
    background-color: #CFE1B9;
}
#navLinks {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
}
.navButton {
    width: 90px;
    height: 50px;
    border-radius: 7px;
    background-color: #97A97C;
    color: white;
}

header {
    
}


/* -- Home Page -- */
#logo{
    display: flex;
    justify-content: center;
}
#logo h1{
    width: fit-content;
    background-color: #718355 /*rgb(243, 246, 159)*/;
    padding: 30px;
    border-radius: 5px;
color: white;
}
#getStarted{
    display: flex;
    justify-content: space-between;
}
#getStarted h2{
    padding: 100px 0;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(181, 215, 181);
    width: 400px;
    font-size: 36px;
}
#quizes .flexItem {
    text-align: center;
}
#pexelsTest {
    height: 500px;
}

/* Leaderboard */

#leaderboardMain{
    background-color: #B5C99A;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
    height: max-content;
}
#leaderboardMain h1 {
    text-align: center;
}
.scoreCircle{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 1px solid rgb(132, 162, 131);
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid black;
    margin-top: 10px;
}
.userScores{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.userScores p {
    background-color: #97A97C;
    border-radius: 5px;
    padding: 5px;
}
/* -- Quiz Page -- */
#quizPageHeader {
    gap: 25px;
    margin-bottom: 10px;
}
#quizPageChooseDifficulty {
    background-color: #B5C99A;
    padding: 25px;
    border-radius: 10px;
}
#playQuizButton {
    background-color: #718355;
    flex-basis: 150px;
    flex-grow: 0;
    border-radius: 7px;
}
#chooseDifficultyDropdown {
    background-color: #CFE1B9;
    color: black;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
}
/* -- Play Quiz -- */
#quizQuestion {
    background-color: #97A97C;
    margin: 0 45px 10px;
    border-radius: 5px;
}
#quizChoices {
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 80px;
}
.quizAnswerButton {
    padding: 30px 0;
    background-color: #E9F5DB;
    border-radius: 4px;
    font-size: 18px;
}
.flexItem.quizAnswerButton {
    flex-basis: 33%;
  }

/* Login and register */
#loginMain, #registerMain{
    background-color: #CFE1B9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.input-row{
    display: flex;
    max-width: 300px;
    margin: 10px 0;
    align-items: center;
}
.input{
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: transparent;
    outline: none;
}
.button{
    background-color: #718355;
    width: fit-content;
    text-align: center;
    padding: 7px;
    border: 1px solid #505c3e;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}