* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", system-ui;
    border: 0;
    color: white;
}
body{
    background-color: #f9fdf4;
    max-height: 100vh;
}
main {
    margin: 65px 150px;
}
main h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
main label {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
}
/* -- Universal Classes -- */
.flexContainer {
    display: flex;
}
.flexItem {
    flex: 1 1 0;
}
.flexSpaceBetween {
    justify-content: space-between;
}
.flexJustifyCenter {
    justify-content: center;
}
.flexDirectionColumn {
    flex-direction: column;
}
.flexAlignCenter {
    align-items: center;
}
.textAlignCenter {
    text-align: center;
}

/* -- Nav -- */
nav {
    max-height: 120px;
    padding: 15px 150px;
    background-color: #CFE1B9;
}
#navLinks {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
}
.navButton {
    width: 90px;
    height: 50px;
    border-radius: 7px;
    background-color: #97A97C;
    color: white;
}

/* -- Home Page -- */
#quizes {
    gap: 10px;
}
.quizBox {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
}
.quizBox p {
    color: white;
    font-size: 40px;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    cursor: default;
}
#logo{
    display: flex;
    justify-content: center;
}
#logo h1{
    width: fit-content;
    background-color: #718355 /*rgb(243, 246, 159)*/;
    padding: 30px;
    border-radius: 5px;
    color: white;
    cursor: default;
}
#getStarted{
    display: flex;
    justify-content: space-between;
}
#getStarted h2{
    padding: 100px 0;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(181, 215, 181);
    width: 400px;
    font-size: 36px;
}

/* -- Leaderboard -- */
#leaderboardMain{
    background-color: #B5C99A;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
    height: max-content;
}
#leaderboardMain h1, #leaderboardMain h3 {
    text-align: center;
}
.scoreCircle, .scoreCircle div{
    height: 20px;
    width: 20px;
    border-radius: 50px;
}
.scoreCircle{
    background-color: white;
}
.scoreCircle div{
    border: 1px solid rgb(132, 162, 131);
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding-bottom: 5px;
}
.userScores{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.userScores p {
    background-color: #97A97C;
    border-radius: 5px;
    padding: 5px;
}

/* -- Quiz Page -- */
#quizPageHeader {
    gap: 25px;
    margin-bottom: 10px;
}
#quizPageChooseDifficulty {
    background-color: #B5C99A;
    padding: 25px;
    border-radius: 10px;
}
#playQuizButton {
    background-color: #718355;
    flex-basis: 150px;
    flex-grow: 0;
    border-radius: 7px;
}
#chooseDifficultyDropdown {
    background-color: #CFE1B9;
    color: black;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
}

/* -- Play Quiz -- */
#quizQuestion {
    background-color: #97A97C;
    margin: 0 45px 10px;
    border-radius: 5px;
}
#quizChoices {
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 80px;
}
.quizAnswerButton {
    padding: 30px 0;
    background-color: #E9F5DB;
    border-radius: 4px;
    font-size: 18px;
}
.flexItem.quizAnswerButton {
    flex-basis: 33%;
}
.quizAnswerButton, #quizQuestion, #quizResponse { color: black }

/* -- Login and register -- */
#loginMain, #registerMain{
    background-color: #B5C99A;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.input-row{
    display: flex;
    max-width: 300px;
    margin: 10px 0;
    align-items: center;
}
.input{
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: transparent;
    outline: none;
}
.button{
    background-color: #718355;
    width: fit-content;
    text-align: center;
    padding: 7px;
    border: 1px solid #505c3e;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

/* Profile Page */
.profileButton {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
}

.profileButton:hover {
    background-color: indianred;
    transform: scale(1.05);
}

#profileMain {
    background-color: #CFE1B9;
    border-radius: 5px;
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
}

#profileMain #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#profileMain #profile #profilePic {
    height: 100px;
    width: 100px;
    justify-self: center;
}

#profileMain #profile h1 {
    justify-self: center;
}

#profileMain #profile h2, #profileMain #profile h3, #profileMain #profile li {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
}

#profileMain #profile #profilePic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#profile-stats {
    display: flex;
    gap: 30px;
}